@tailwind base;
@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737446427/applevisionpro/fonts/sf-pro-display-regular.woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737446434/applevisionpro/fonts/sf-pro-display-semibold.woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737446427/applevisionpro/fonts/sf-pro-display-bold.woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "SF Pro Text";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737446435/applevisionpro/fonts/sf-pro-text-light.woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737446435/applevisionpro/fonts/sf-pro-text-regular.woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737446436/applevisionpro/fonts/sf-pro-text-semibold.woff2");
    font-weight: 600;
    font-style: normal;
  }

  :root {
    --header-height: 3.25rem;
  }

  @media screen and (max-width: 839px) {
    :root {
      --header-height: 3rem;
    }
  }

  * {
    @apply font-display box-border;
  }

  video {
    filter: grayscale(0);
  }

  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}

@tailwind components;
@layer components {
  .text-1 {
    @apply 2xl:text-[80px] xl:text-[72px] lg:text-[64px] md:text-[56px] sm:text-[48px] text-[40px] leading-[1.1] font-bold;
  }

  .text-2 {
    @apply xl:text-[50px] lg:text-[44px] md:text-[38px] text-[28px] leading-tight lg:tracking-[0.01em] font-semibold;
  }

  .text-3 {
    @apply xl:text-[48px] lg:text-[42px] md:text-[36px] sm:text-[30px] text-[24px] leading-[1.15] lg:tracking-[0.01em] font-bold;
  }

  .text-4 {
    @apply xl:text-[32px] lg:text-[29px] md:text-[26px] sm:text-[23px] text-[20px] leading-[1.15] lg:tracking-[0.01em] font-bold;
  }

  .text-5 {
    @apply lg:text-[24px] md:text-[22px] sm:text-[20px] text-[18px] font-bold leading-none lg:tracking-[0.01em];
  }

  .text-6 {
    @apply lg:text-[21px] sm:text-[19px] text-[17px] sm:font-display font-text leading-snug lg:tracking-[0.01em];
  }

  .text-7 {
    @apply lg:text-[20px] sm:text-[18px] text-[17px] sm:font-display font-text leading-tight lg:tracking-[0.01em];
  }

  .text-8 {
    @apply lg:text-[24px] md:text-[21px] sm:text-[19px] text-[17px] leading-snug lg:tracking-[0.01em] sm:font-display font-text;
  }

  .btn {
    @apply md:py-4 py-3 md:px-8 px-4 md:text-[19px] sm:text-[17px] text-[15px] leading-none lg:tracking-[0.01em] font-semibold rounded-full transition-all flex items-center gap-2;
  }

  .btn-svg {
    @apply md:size-5 sm:size-4 size-3.5 -mt-[1px];
  }

  .play-pause {
    @apply absolute top-5 right-5 z-10;
  }

  .play-pause-icon {
    @apply xl:size-9 sm:size-8 size-7 fill-white;
  }

  .video-text {
    @apply font-text sm:text-sm text-xs font-semibold leading-tight text-white/90 flex items-center gap-2 absolute xl:right-10 md:right-7 xl:bottom-10 sm:bottom-7 bottom-5 md:text-left text-center;
  }
}

@tailwind utilities;
