@tailwind base;
@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/applevisionpro/fonts/sf-pro-display-regular.woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/applevisionpro/fonts/sf-pro-display-semibold.woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/applevisionpro/fonts/sf-pro-display-bold.woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "SF Pro Text";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/applevisionpro/fonts/sf-pro-text-light.woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/applevisionpro/fonts/sf-pro-text-regular.woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/applevisionpro/fonts/sf-pro-text-semibold.woff2");
    font-weight: 600;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    font-family: "SF Pro Display", "SF Pro Text", sans-serif;
  }

  :root {
    --header-height: 3.25rem;
  }

  @media screen and (max-width: 839px) {
    :root {
      --header-height: 3rem;
    }
  }

  video {
    filter: grayscale(0);
  }

  .sf-pro-text {
    font-family: "SF Pro Text", "SF Pro Display", sans-serif !important;
  }

  .height-full {
    height: calc(100dvh - var(--header-height));
  }

  .max-w-medium {
    width: 100%;
    max-width: 1020px;
  }

  .max-w-large {
    width: 100%;
    max-width: 1340px;
  }

  .max-w-extra-large {
    width: 100%;
    max-width: 1540px;
  }

  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}

@tailwind components;
@layer components {
  .text-80 {
    @apply text-[5rem] font-bold leading-none;
  }

  .text-19 {
    @apply text-[1.1875rem] leading-tight tracking-[0.015em];
  }

  .text-21 {
    @apply md:text-[1.3125rem] text-[1.1875rem] leading-snug tracking-[0.015em];
  }

  .text-32 {
    @apply text-[2rem] leading-[1.15] tracking-[0.015em];
  }

  .text-56 {
    @apply text-[3.5rem] leading-[1.075];
  }

  .btn {
    @apply py-4 px-8 text-19 font-semibold rounded-full transition-all flex items-center gap-2;
  }
}

@tailwind utilities;
